 <div class="masthead clearfix">
    <div class="inner">
      <h3 class="masthead-brand">Izak Tarashandegan</h3>
      <nav class="nav nav-masthead app-nav">
        <%= nav_helper "nav-link", "span" %>
        <%= login_helper 'nav-link' %>
      </nav>
    </div>
</div>


<!--
drop down mobile version 

<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <h4 class="nav-brand" style="text-align: left;">Izak Tarashandegan</h4>
  <div class="collapse navbar-collapse" id="navbarNav">
    
        <%#= nav_helper "nav-link", "span" %>
        <%#= login_helper 'nav-link' %>
       
  </div>
</nav>-->