<div class="row">
  <div class="col-md-4">
    <%=image_tag "http://placehold.it/250x275", alt:"Profile Image"%>
    
  </div>
  <div class="col-md-8">
      <h1>My Interests</h1>
      <ul style=" list-style:none;">
        <li>Computer Programming</li>
        <li>Psychology </li>
      </ul>
    
      <h1> My Hobbies</h1>
      <ul style=" list-style:none;">
        <li>Reading books</li>
        <li>Walking</li>
        <li>Talking :D</li>
      </ul>
  </div>
</div>


 
 

 

