<style> 
  #no-center {
   text-align: left; 
   padding-left: 5rem;
  }
</style>  
<div id="no-center">
  <h1>My Interests</h1>
  <ul>
    <li>Computer Programming</li>
    <li>Psychology </li>
  </ul>

  <h1> My Hobbies</h1>
  <ul>
    <li>Reading books</li>
    <li>Walking</li>
    <li>Talking :D</li>
  </ul>
</div>

