 
<%#= number_to_phone "4444444444" %>
<%#= number_to_currency '14444'%>
<%#= number_with_delimiter "123098484848431"%>
<h1>Always Welcome to Contact Me</h1>
<div class="row">
  <div class="col-md-6">
      <p>
        <h4>Office Address</h3>
        8665 Wilshire Blvd #101, Beverly Hills, CA 90211
      </p>
      <p>
        <h4>Email</h4> 
        <!-- subject att is for subject an email when an user click on it -->
        <a href="mailto:pazpaz25@gmail.com?subject=PortfolioContact">Email Me</a>
      </p>
      <p>
        <h4>Phone</h4>
        <%= number_to_phone "4244420591" %>
      </p>

  </div>
  
  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10595.139304214155!2d-118.38184330773953!3d34.062182741907705!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xddc2f3bb6392ac78!2sBeverly+Hills+Bath+%26+Hardware!5e0!3m2!1sen!2sus!4v1492373065304" 
    width="600" 
    height="450" 
    frameborder="0"
    style="border:0" allowfullscreen>
      
    </iframe>
    
  </div>
</div>

 
