 <div class="inner cover">
  <h1 class="cover-heading">Welcome to World of Wonders</h1>
  <p class="lead">I am the one who believe in kindness and helpfulness to degree
  of my ability and willingness of others. One of the way, I believe is a good
  way to show them is programming which helps others to be more informative
  , so they can  change their lifes</p>
  <p class="lead"> 
    <%= link_to "About Me", about_me_path, class:"btn btn-lg btn-secondary"%>
  </p>
</div>



      



